lead-triagem-bot.json
{
  "name": "Lead Triagem Bot",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [-400, 0],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_AQUI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "chat_id",
              "type": "numberValue",
              "numberValue": "={{ $json.message.from.id }}"
            },
            {
              "name": "nome_usuario",
              "type": "stringValue",
              "stringValue": "={{ $json.message.from.first_name }}"
            },
            {
              "name": "mensagem_texto",
              "type": "stringValue",
              "stringValue": "={{ $json.message.text }}"
            }
          ]
        }
      },
      "id": "edit-fields",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "filter-start",
              "leftValue": "={{ $json.mensagem_texto }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-filter",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer SUA_CHAVE_GROQ_AQUI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Você é um classificador de leads. Responda APENAS com uma palavra: QUENTE, MORNO ou FRIO. QUENTE: lead com interesse claro e urgência. MORNO: interesse mas sem urgência. FRIO: sem interesse claro ou mensagem genérica.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.mensagem_texto }}\"\n    }\n  ]\n}"
      },
      "id": "http-groq",
      "name": "Classificar Lead (Groq)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [200, 0]
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.chat_id }}",
        "text": "Obrigado pela mensagem, {{ $('Edit Fields').item.json.nome_usuario }}! Entraremos em contato em breve.",
        "additionalFields": {}
      },
      "id": "telegram-send",
      "name": "Responder no Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [400, 0],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_AQUI",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[{ "node": "Edit Fields", "type": "main", "index": 0 }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "IF", "type": "main", "index": 0 }]]
    },
    "IF": {
      "main": [
        [{ "node": "Classificar Lead (Groq)", "type": "main", "index": 0 }],
        []
      ]
    },
    "Classificar Lead (Groq)": {
      "main": [[{ "node": "Responder no Telegram", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
